html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

body {
    background-image: url(/imagens/imagem.jpg);
    background-repeat: no-repeat;
    background-color: blue;
    background-size: 90% 100%;
    background-position: center top;
}
h1, h3{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}
h3{
    font-size: 35px;
}
p{
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 38px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}